name: Node.js CI

on:
  push:
    branches: ['**']
    tags: ['v*']
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: npm

    - name: Install npm@11
      run: npm i -g npm@11

    - name: Install dependencies
      run: npm ci

    - name: List current npm dependencies
      run: npm ls

    - name: Test/build packages
      working-directory: ./packages/spsc
      run: |
        npm run build
        npm run test

    - name: Run Svelte check
      run: npm run check

    - name: Run tsc check
      run: npm run tsc

    - name: Build
      run: npm run build

    - name: Run Vitest
      run: npm run test

    - name: Publish spsc if a tag is present
      working-directory: ./packages/spsc
      if: startsWith(github.ref, 'refs/tags/v')
      run: npm publish --tag latest --access public

